<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /booksmap/public/

    # ファイルやフォルダが存在しない場合は index.php に飛ばす
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
